/* DRAWER */
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
	background-color: #203040;
	color: white;
	width: 40%;
}
/* DRAWER DIVIDER */
.MuiDivider-root.MuiDivider-light {
	background-color: white;
}
/* DRAWER BACK BUTTON */
#buttonChevron {
	float: left;
	color: white;
}

div.MuiListItemIcon-root svg path {
	color:purple;
    margin-left: 1rem;
}

a.listItem {
	color:white;
	font-size: 2.5rem;
	text-decoration: none;
	justify-content: end;
  
  }
  a.listItem:link {
	text-decoration: none;
  }
  
  a.listItem:visited {
	text-decoration: none;
  }
  
  a.listItem:hover {
	text-decoration: none;
	color: red;
  }
  
  a.listItem:active {
	text-decoration: none;
  }
  a.listItem:focus {
	text-decoration: none;
  }

.listItem{
	text-align:center;
	text-decoration: none;
}