@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap%22");

#appbarTodo {
	background-color: #203040;
}
#searchBar {
	font-size: 10px;
}
/*
.navbar-brand.mt-3 {
	margin: 1.3rem;
	width: 5%;
}
#searchBarButton {
	font-family: "Bangers", cursive;
	font-size: 16px;
	color: white;
}
*/
/* NAVBAR INPUT */
#inputBar {
	border-radius: 1rem;
}
#appBarTitle {
	font-size: 30px;
	margin-left: 2rem;
}
#smallLabel {
	font-size: 13px;
	margin-left: 0.8rem;
}
