@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap%22");


#appbar{
	background-color: #203040;
	justify-self: start;
	align-self: flex-start;
}


/* Main title */
a.brand {
	color:white;
	font-size: 2.5rem;
	font-family: brandFont;
	text-decoration: none;
	justify-content: end;
  }
  a.brand:link {
	text-decoration: none;
  }
  
  a.brand:visited {
	text-decoration: none;
  }
  
  a.brand:hover {
	text-decoration: none;
	color: white;
  }
  
  a.brand:active {
	text-decoration: none;
  }
  a.brand:focus {
	text-decoration: none;
  }

/* Cart Column*/
/* Large */
.navigation {

	/* This aligns items to the end line on main-axis */
  }


/* Cart */
.cart{
		font-size: 30px;
		text-decoration: none;
		color: white;
		text-decoration: none;
		margin-bottom: 2rem;
	}

	.cart:hover{
		text-decoration: none;
		color:white;
	}

#sidebar{
	cursor: pointer; 
}


/*
.badge {
	font-size: 3.5rem;
	padding-top: 1rem;
	padding-right: 3rem;
	badge
}
*/

/*
.navbar-brand.mt-3 {
	margin: 1.3rem;
	width: 5%;
}
#searchBarButton {
	font-family: "Bangers", cursive;
	font-size: 16px;
	color: white;
}
*/

/* NAVBAR INPUT  
#inputBar {
	border-radius: 1rem;
}
#appBarTitle {
	font-size: 30px;
	margin-left: 2rem;
}
#smallLabel {
	font-size: 13px;
	margin-left: 0.8rem;
}
*/

/* Personal fonts */
@font-face{
	font-family: brandFont;
	src: url(../../BilboSwashCaps-Regular.ttf);
  }
  
 

